/* shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 35px;
    border: none;
    color: white;
}

.primary-clr {
    color: #E55473;
}

.primary-title {
    color: #272727;
    font-size: 30px;
}

/* Header section styles */
.header {
    background-color: #E554731A;
    padding: 50px 100px 0px 130px;
    display: flex;
    align-items: center;
}

.header-title {
    color: #272727;
    font-size: 50px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-img {
    width: 535px;
    height: 700px;

}

/* Feature Section Styles */
.feature-container {
    margin-top: 140px;
    text-align: center;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.all-feature-box {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.feature-box {
    width: 350px;
    height: 430px;
    border-radius: 300px 300px 0px 0px;

}

.box-name {
    color: #272727;
    font-size: 20px;
    text-decoration-line: underline;
    margin-top: 28px;
}

.pink-flower {
    background: rgba(167, 33, 98, 0.15);
}

.red-flower {
    background: rgba(5, 151, 160, 0.15);

}

.yellow-flower {
    background: rgba(71, 125, 17, 0.15);
}

.img-size {
    height: 330px;
    width: 210px;
    padding-top: 100px;

}

/* Discount Section Styles */
.Discount-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    margin-top: 110px;
    padding: 80px 20px 80px 20px;
}

.discount-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    width: 70%;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 28px;
}

.discount-info {
    text-align: center;
}

/* Instagram section Styles */
.instagram {
    text-align: center;
    margin-top: 110px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.all-box-img {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box-img {
    width: 242px;
    height: 296px;
}

/* Arrangement section styles */
.arranegment-container {
    margin-top: 110px;
    text-align: center;
}

.arrangment-subtitle {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.all-circle {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.circle-img {
    height: 260px;
    width: 260px;
    border-radius: 130px;
}

.circle-name {
    font-size: 14px;
    font-style: italic;
}

/* subscrib section styles */
.subscrib-container {
    background-image: url(../images/Rectangle\ 9.png);
    height: 350px;
    width: 1050px;
    background-size: cover;
    margin: auto;
    margin-top: 110px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.subtitle {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 40px;
}

.email-input {
    width: 500px;
    border-radius: 8px;
    border: none;
    padding: 20px;
}

/* footer section styles */
.footer-section {
    margin-top: 120px;
    background-color: black;
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-size: 40px;
    color: white;

}

.footer-decription {

    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 28px;

}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
}