/* shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 35px;
    border: none;
    color: white;
}

/* Header section styles */
.header {
    background-color: #E554731A;
    padding: 50px 100px 0px 130px;
    display: flex;
    align-items: center;
}

.header-title {
    color: #272727;
    font-size: 50px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
}

.header-img {
    width: 535px;
    height: 700px;

}