/* shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 35px;
    border: none;
    color: white;
}
.primary-clr{
    color: #E55473;
}

/* Header section styles */
.header {
    background-color: #E554731A;
    padding: 50px 100px 0px 130px;
    display: flex;
    align-items: center;
}

.header-title {
    color: #272727;
    font-size: 50px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
}

.header-img {
    width: 535px;
    height: 700px;

}

/* Discount Section Styles */
.Discount-container{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    margin-top: 110px;
    padding: 80px 20px 80px 20px;
}
.discount-title{
    color: #272727;
font-size: 30px;
}
.discount-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 13px;
width: 70%;
margin: auto;
}
.discount-info{
    text-align: center;
}

/* Instagram section Styles */
.instagram{
    text-align: center;
    margin-top: 110px;
}
.insta-title{
    color: #272727;
font-size: 30px;
}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 13px;
width: 30%;
margin: auto;
margin-top: 20px;
margin-bottom: 40px;
}
.all-box-img{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.box-img{
    width: 242px;
height: 296px;
}

